<div class='main'>
  <header class='header'>
    <a href="/">
      <div class='header-logo'></div>
    </a>
    <a href="#">
      <img src="/images/profile-default.png" class="profile-picture" alt="Profile Picture"/>
    </a>
  </header>
</div>
