<div class="flight-select">
  <label for="flight">Flight Number :</label>
  <select name="flight" id="flight" class="flight">
    <option value="undefined">Flight #</option>
    <% allFlights.forEach(flight => { %>
      <option value="<%= flight %>"><%= flight %></option>
    <% }) %>
  </select>
</div>
