.users-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 65vh;
}
.users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.users li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 30%;
  background-color: #D4B2D8;
  border: 5px solid var(--oxford-blue);
  box-shadow: var(--oxford-blue-box-shadow);
}
.users li a {
  color: var(--popstar-red);
}
