<%- include('../partials/head') -%>
<form id="password-form">
  <label for="password-input">
    Enter the Secret Password To Access The Admin Page:
  </label>
  <input type="text" name="password-input" id="password-input" required/>
  <button type="submit" name="password-submit" id="password-submit">Submit</button>
</form>
<script src="./admin.js"></script>
<%- include('../partials/footer') -%>
