<%- include('../partials/head') -%>
<%- include('../partials/banner') -%>
<h1>Welcome to the Brink!</h1>
<a href="/admin-authenticated/users?page=1&limit=3">View all Flyers</a>
<a href="/admin-authenticated/flights">View all Flights</a>
<%- include('../partials/footer') -%>
