<%- include('../partials/head.ejs') -%>
<%- include('../partials/banner.ejs') -%>
<form>
  <label for="customer-name">Please enter your name so we can find your flight!</label>
  <input type="text" id="customer-name" class="customer-name" name="customer-name"/>
  <button type="submit" id="submit-name" name="submit-name">Submit</button>
</form>
<script src="/find-flight/find-flight.js"></script>
<%- include('../partials/footer.ejs') -%>
