<%- include('../partials/head') -%>
<%- include('../partials/banner') -%>
<%- include('../partials/flight-select') -%>
<link rel="stylesheet" href="/css/flights.css">
<div class="form-container">
  <div class='form-content plane'>
    <div id="seats-section"></div>
  </div>
</div>
<script src="/seat-select/create-seats.js"></script>
<script src="/admin/flights.js"></script>
<%- include('../partials/footer') -%>
