<%- include('../partials/head') %>
<%- include('../partials/banner') %>
<div class="homepage">
  <h1>Welcome!</h1>
  <a href="/seat-select">Reserve your flight today!</a>
  <a href="/find-flight">View your flight</a>
</div>
<%- include('../partials/footer') %>
